.teSe {
    width: 420px;
    padding: 0.5em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    margin-left: 3em;
    vertical-align: baseline;
    text-align: left;
    text-align: -moz-left;
    text-align: -webkit-left;
    font-size: x-small;
    background-color: aliceblue;
    border: solid lightpink 1px;
    border-radius: 2px;
    font-family: monospace;
    padding-right: 12px;
}

span {
    background-color: beige;
    border: 1px solid gold;
}

span[title] {
    cursor: help;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    font-style: italic;
    background-color: LavenderBlush;
    border-radius: 6px;
    padding-bottom: 2px;
    font-family: sans-serif;
    font-size: 88%;
    border: 1px dotted aqua;
}

audio {
    height: 16px;
    width: 244px;
}

p,
span {
    font-size: small;
    white-space: nowrap;
    padding-right: 4px;
}

pre {
    font-size: 8px;
    margin-top: 0;
    margin-bottom: 0;

    background-color: beige;
    border: 1px solid gold;
    width: max-content;
    padding-right: 4px;
}

p {
    margin: 0;
    margin-top: 4px;
    width: 100%;
    text-wrap-mode: wrap;
    line-height: 10px;
    margin-bottom: 6px;
}

p>b {
    margin-top: 4px;
}

div.cp p {
    margin-bottom: 2px;
    background-color: antiquewhite;
    border: 1px dashed blue;
    max-width: 266px;

    padding-top: 2px;
    padding-bottom: 2px;
}

img {
    min-height: 24px;
    min-width: 24px;
    height: 16px;
    width: 16px;
    /* background-color: green; */

    gap: 8px;
}

.infa{
    font-size: small;
    white-space: nowrap;
    max-height: 62px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid lightgray;
    padding: 2px;
    padding-right: 4px;
    padding-bottom: 4px;
    margin-bottom: 4px;
        background: lightgreen;
}

h4{
    display: block;
    margin-block-start: 0.8em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
        font-size: 14px;
    unicode-bidi: isolate;
}